.menu {
    display: none;
}
.menu{
    text-align: left;
    width: 100%;
}
.list{
    list-style-type: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    flex-direction: column;
    background-color: #333;
}
.a {
    width: 100%;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}

.li:hover {
    background-color: #444;
    cursor: pointer;
}

.x:hover {
    cursor: pointer;
}


@media screen and (max-width:750px) {
    .list{
        display: flex;
        transition: transform 450ms ease;
    }
    .menu{
        display: flex;
    }
}